* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bolder;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background-color: burlywood;
}

.two {
    background-color: cornflowerblue;
}

.three {
    background-color: darkorchid;
}

.four {
    background-color: gold;
}