@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'Poppins', sans-serif; */

 :root {
    --black: #000000;
    --white: #ffffff;
    --primary-black: #171924;
    --secondary-black: #222531;
    --primary-green: #c7f343;
    --secondary-green: #d1ff52;
}

::selection {
    color: var(--secondary-black);
    background-color: var(--primary-green);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-black);
    color: var(--white);
    padding: 1em;
    height: 100%;
}

#heading {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 7px;
    word-spacing: 10px;
}

h1 {
    font-size: 7em;
}

.hollow {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    color: transparent;
    -webkit-text-stroke: 2px var(--secondary-green);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    margin: 5px 0 10px 0;
}

.container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}